.productName, .price, .order{
	text-align: center;
}
.productName{
	font-weight: bold;
}
.thumbnail a{
	margin-right: 5px; 
}
.thumbnail{
	padding: 10px;
}
.order{
	padding-top: 10px;
}
.home span{
	font-family: Mightype; 
	font-size: 40px;
}
.home{
	padding: 30px;
	text-align: center;
}
.imgProduct{
  	transition: transform 0.5s !important; /* Animation */
}

.imgProduct:hover {
	z-index: 1;
  	transform: scale(1.25) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#pagination{
	float: right; 
	display: none;
	margin-top: 35px; 
	margin-right: 20px;
	position: inherit;
}
.page-item.active .page-link{
 	background-color: #ba1826;
 	border-color: #ba1826; 
}
.page-link{
	color: black;
}
